*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    color: black;
    background-color: #d0cfcf;
    font-family: sans-serif;
}

body {

    height: 100vh;
    width: 100vw;
    
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

img {
    width: 100%;
}

button {
    font-size: 1em;
    border: none;
}