@media (max-width: 700px) {

    html {
        font-size: 12px;
    }

    .main-header {
        padding-inline: 0.6em;
    }

    .main-nav {
        position: fixed;
        inset: 81px 0 auto 0;

        display: grid;
        grid-template-rows: 0fr;
        overflow: hidden;
        align-items: end;

        transition: grid-template-rows .6s;
        background-color: #cccccce5;

        .nav-list {
            flex-direction: column;

            min-height: 0;

            border-inline-start: var(--nav-border);

            li {
                display: block;
                width: 100%;
                min-width: 135px;
                border: none;
                border-block-end: var(--nav-border);
                transition: box-shadow 0.2s linear;

                .item {
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    height: 100px;
                    width: 100%;
                }
            }
        }
    }

    body.openedMenu {
        .main-nav {
            grid-template-rows: 1fr;
            z-index: 1000;
        }

        .overlay {
            opacity: 1;
            pointer-events: all;
            cursor: pointer;
        }
    }

    .main-menu {
        padding: 0.6em;
        margin-block: 20px;

        font-size: 1.5rem;
        cursor: pointer;
        color: var(--clr-primary-5);
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease;

        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.95);
        }
    }

    .editor-container {
        flex-direction: column;
    }

    .main-content {
        padding-inline: 20px;
    }

    .meme-actions {
        flex-direction: column;
    }

    .main-layout {
        grid-template-columns: minmax(5px, 1fr) minmax(auto, var(--main-content-width)) minmax(5px, 1fr);
    }
}

@media (min-width: 700px) {

    html {
        font-size: 12px;
    }

    .main-menu {
        display: none;
    }

}

@media (min-width: 760px) {

    html {
        font-size: 14px;
    }

}

@media (min-width: 700px) and (max-width: 950px) {

    .main-content.main-layout {
        grid-template-columns: minmax(150px, 1fr) minmax(auto, var(--main-content-width)) minmax(150px, 1fr);
    }

    .editor-container {
        flex-direction: column;
    }

}