:root {

    /* PALLETE */
    --header-footer-clr: #6c6c6c;

    /* HEADER VARS */
    --header-height: 100px;

    /* MAIN CONTENT */
    --main-content-width: 1000px;
    --gallery-gap: 10px;

    /* MEME CONTROLLER VARS */
    --gap: 20px;
}